.team-item-header {
    color: #0B9568;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 16px;
    text-align: left;
}

.team-item-descr {
    padding-left: 4%;
    padding-right: 4%;
    text-align: justify;
}

.team-item-wiki {
    padding-left: 4%;
    text-align: left;
}

.wiki-link {
    color: #0B9568;
    text-align: left;

}

.span-name {
    color: black;
    font-weight: lighter;
}